@charset "utf-8";
.topnav {
    border-bottom: 1px solid #ccc;
    background: pink;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: flex;

        .menu-item {
            padding-left: 10px;
        }
    }
}